@import "_variables.scss";
.boton1, .boton2 {
    font-size: 16px;
    line-height: 22px;
    font-family: $font1, sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: $color1;
    background-color: $color3;
    letter-spacing: 0;
    text-align: center;
    height: 48px;
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &:hover {
        background-image: linear-gradient(240deg, #0000FE 0%, #00F0B8 100%);
        color: $color6;
        transition: .3s;
    }
}
body{
    header {
        nav {
            position: fixed;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 44px;
            width: 100%;
            z-index: 2;
            img {
                height: 24px;
                width: 24px;
                margin-left: 16px;
            }
            #toggle{
                display: none;
            }
            .btn {
                margin-right: 19px;
                width: 18px;
                span {
                    display: block;
                    height: 2px;
                    content: '';
                    margin-bottom: 3px;
                    background: #000000;
                    border-radius: 3px;
                    transition: .3s;
                }
            }
            .menu
                {
                visibility: hidden;
                opacity: 0;
                position: fixed;
                width: 100%;
                height: 224px;
                background: #0000EC 100%;
                list-style-type: none;
                top: 44px;
                z-index: 1;
                transition: .3s;
                li {
                    padding: 24px 16px 0;
                    font-size: 16px;
                    a {
                        color: #ffffff;
                        &:hover{
                            color: $color3;
                            text-decoration:line-through;
                        }
                        &:active{
                            color: $color5;
                            text-decoration: line-through;
                        }
                    }
                }
            }
            #toggle:checked ~ .menu {
                visibility: visible;
                opacity: 1;
                transition: 0.3s;
            }
            #toggle:checked ~ .btn {
                span:nth-last-child(2) {
                    opacity: 0;
                    transition: all .3s ease-in-out;
                }
                span:nth-last-child(3) {
                    transform-origin: 1px;
                    transform: translate(2px,1px) rotate(45deg);
                    transition: all .3s ease-in-out;
                }
                span:nth-last-child(1) {
                    transform-origin: 1px;
                    transform: translate(2px,2px) rotate(-45deg);
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    .intro {
        display: flex;
        flex-direction: column;
        padding-top: 73px;
        margin: 0 0 24px 16px;
        h1 {
            font-size: 36px;
            width: 222px;
            margin-bottom: 16px;
        }
        p {
            font-size: 14px;
            width: 288px;
            margin-bottom: 36px;
        }
        .desk {
            display: none;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 288px;
            align-self: center;
        }
    }
    .fondo1 {
        clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
        height: 1203.5px;
        .episodios{
            padding-top: 64px;
            h2{
                font-size: 36px;
                margin: 0 0 24px 16px ;
            }
            .spotify {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                row-gap: 11px;
                margin: 0 11px 0 11px;
                iframe {
                    width: 100%;
                    height: 232px;
                }
            }
        }
    }

    .where {
        margin-bottom: 54px;
        .phone {
            position: relative;
            margin:-96px 0 27px 0;
            z-index: 1;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .text{
            margin: 0 14px 0 14px;
            h2{
                font-size: 36px;
                margin-bottom: 8px;
            }
            p {
                &:last-child{
                    margin-top: 20px;
                }
            }
        }
    }
    .invitados {
            margin-bottom: 48px;
        h2 {
            margin: 0 16px 14px 16px;
            font-size: 36px;
        }
        .contenedor-img {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .temas {
        h2 {
            font-size: 36px;
            margin: 0 16px 24px 16px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            img {
                display: block;
                height: 104px;
                width: 104px;
            }
            h4{
                text-align: center;
                font-size: 24px;
                padding: 13px 0 36px 0;
            }
        }
    }
    .fondo2 {
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        height: 341px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 36px;
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 14px;
            margin: 24px 0 16px 0;
            text-align: center;
        }
        .icons {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 16px;
        }
    }
}
